* {
	margin: 0;
}

.overlay-modal {
	width: 100%;
	height: 90vh;
	background-color: #94e1c7;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 10vh;
	left: 0;
	z-index: 10;
}

.section {
	width: 40%;
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.modal-fechar {
	width: 6%;
	margin-top: 1rem;
	margin-right: 20px;
}

span {
	display: flex;
	margin-bottom: 0.5rem;
}

.modal {
	margin-left: 3rem;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-image {
	width: 10rem;
}

.modal-paragraph {
	color: #00CA88;
	font-family: "urbane-rounded",sans-serif;
	font-weight:600;
	margin-top: 0.5rem;
}

.modal-title {
	margin-right: 0.9rem;
}

.modal-title-h1 {
	color: #00CA88;
	font-size: 1.1rem;
	font-family: "urbane-rounded",sans-serif;
	font-weight:600;
	margin-left: 2rem;
	margin-bottom: 1.3rem;
}

.modal-title-p {
	width: 70%;
	color: #575757;
	font-size: 1rem;
	font-family: "Arial";
	margin-left: 2rem;
}

.modal-button {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-evenly;
    margin-bottom: 1rem;
}

.modal-button1 {
    width: 17rem;
    height: 5vh;
	color: #707070;
    background: #fff;
    border-radius: 20px;
    font-size: 1rem;
    font-family: "urbane-rounded",sans-serif;
	font-weight:600;
}

.modal-button2 {
    width: 7rem;
    height: 5vh;
	color: #707070;
    background: #fff;
    border-radius: 20px;
    font-size: 1rem;
    font-family: "urbane-rounded",sans-serif;
	font-weight:600;
}

.modal-button3 {
    width: 85%;
    height: 5vh;
	color: #707070;
    background: #fff;
    border-radius: 20px;
    font-size: 1rem;
    font-family: "urbane-rounded",sans-serif;
	font-weight:600;
	margin-top: 1rem;
}

.modal-h2 {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-right: 1.5rem;
}

h2 {
	color: #707070;
	font-size: 1rem;
	font-family: "urbane-rounded",sans-serif;
	font-weight:600;
}

.modal-confirmationS, .modal-confirmationN {
	width: 6rem;
    height: 5vh;
	color: #707070;
    border-radius: 20px;
    border: none;
	background-color: #F2F2F2;
	font-size: 1rem;
	font-family: "urbane-rounded",sans-serif;
	font-weight:600;
}

.modal-confirmationS:hover {
	color: #fff;
	background-color: #00CA88;
}

.modal-confirmationN:hover {
	color: #fff;
	background-color: #FF0000;
}

.confirmation {
	width: 100%;
	margin-top: 2rem;
}

.confirmation-button {
	width: 88%;
	height: 8vh;
	border: none;
	border-radius: 35px;
	background-color: #00CA88;
	color: #fff;
	font-size: 0.9rem;
	font-family: "urbane-rounded",sans-serif;
	font-weight:600;
	margin-left: 35px;
	margin-bottom: 50px;
}

